body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: url('images/img3.jpg');
    background-size: cover;  */
  }

.header {
    background-color: rgb(86, 0, 23) ;
    color: #fff;
    padding: 10px;
    display: flex;
    /* align-items: left; */
}

.logo {
    width: auto; 
    height: 70px; 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4px;
    padding-left: 25px;
    padding-right: 15px;
}

.header-name{
    font-family: Cinzel,Arial,Helvetica,sans-serif;
    margin: 0;
    font-size: x-large;
    font-weight: bold;
    padding-top: 12px;
}

.header-subname{
    font-family: Cinzel,Arial,Helvetica,sans-serif;
    margin: 0;
    text-align: start;
    font-size: large;
    /* padding-top: 1px; */
}

.header-content {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1d1c1c;
    color: #fff;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.social-icons {
    display: flex;
    padding-right: 25px;
}

.social-icon {
    margin-left: 20px;
    color: #fff;
    font-size: 24px;
}

.contact-info {
    text-align: left;
    padding-right: 25px;
    padding-left: 25px;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
    padding-bottom: 10px;
}

/* Top Navigation */
.navbar-right {
    margin: -10px 0 0 auto;
    display: inline-flex;
    align-items: flex-end;
}  
.navbar {
    font-family: Cinzel,Arial,Helvetica,sans-serif;
    overflow: hidden;
  }


.navbar a {
    display: block;
    float: left;
    font-size: 16px;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
    border-color: rgb(86, 0, 23);
    border-width: 10px;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    border-radius: 5px;
}
  
.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
  
.dropdown-content a {
    float: none;
    color: rgb(56, 4, 18);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


/* Slideshow/Carousel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    max-width: 100vw;
    height: 10    0vh; 
    position: relative;
    overflow: hidden;
  }
  
  .mySlides {
      display: block;
  }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(109, 101, 101, 0.444);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.29);
}

.text-center {
    text-align: center;
}

.dot-container {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

.container {
    min-height: 100vh; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: rgb(56, 4, 18);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    
}
.container div{
    border-radius: 5px;
    min-height: 100%;;
    gap: 10px;
    background-color: #ffffff9e;
    padding: 20px;
    display:block;
    margin-bottom: auto;
}
.container div img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

/* vision-mission */
.container-vm{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-content-vm{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
}
.page-content-vm p {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.page-content-vm td {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Inter, Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: top;
    padding: 8px;
    border-top: 1px solid #eee;
    background-color: #fff;
}
.text-title {
    font-family: 'Noto Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    color: #800;
}

/* HYMN */
.container-h{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-content-h{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    margin-bottom: 50px;
}
.page-content-h p {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

/* HISTORY */
.container-history{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-content-history{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    margin-bottom: 50px;
}
.page-content-history p {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.page-content-history td {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Inter, Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: top;
    padding: 8px;
    border-top: 1px solid #eee;
    background-color: #fff;
}
.image-container-history {
    display: flex;
}
.image-container-history img {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
}

/* CAMPUS TOUR */
.container-campus{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-content-campus{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    margin-bottom: 50px;
}
.page-content-campus p {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

/* BOARD OF REGENTS */
.container-bor{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-content-bor{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    margin-bottom: 50px;
}
.page-content-bor p {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.page-content-bor td {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Inter, Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: top;
    padding: 8px;
    border-top: 1px solid #eee;
    background-color: #fff;
}

/* UNIVERSITY-CAMPUS OFFICIALS */
.container-uc{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-content-uc{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    margin-bottom: 50px;
}
.page-content-uc p {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.page-content-uc td {
    margin: 30px 0 0 0;
    line-height: 2;
    color: #666;
    font-family:  Inter, Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: top;
    padding: 8px;
    border-top: 1px solid #eee;
    background-color: #fff;
}
.image-container-uc {
    display: flex;
}
.image-container-uc img {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
}